#leftPanel {
    -fx-border-color: #111111;
    -fx-background-color: #444444;
}

#upperPanel {
    -fx-border-color: #111111;
    -fx-background-color: #d6d6d6;
}

#quitGameButton {
    -fx-text-fill: "black";
    -fx-background-color: #ff5d55;
}

#guessText {
    -fx-border-radius: 10%;
}

#choiceA, #choiceB, #choiceC {
    -fx-border-color: #111111;
}

#reaction {
    -fx-shape: "M -1 2 C -1 1 -1 1 0 1 L 22 1 L 24 0 L 26 1 L 28 1 C 29 1 29 1 29 2 L 29 10 C 29 11 29 11 28 11 L 0 11 C -1 11 -1 11 -1 10 L -1 2";
    -fx-border-color: black;
    -fx-padding: 1;
    -fx-border-width: 1.5;
    -fx-border-color: grey;
}

#playerList {
    -fx-background-color: #444444;
    -fx-text-fill: #444444;
}

#playerList:odd {
    -fx-background-color: #444444;
}

#playerList:even {
    -fx-background-color: #444444;
}